body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Cerebri Sans Pro';
 font-display: swap;
}

a {
 text-decoration: none;
}

/* Nav Bar */
nav.styt {
 padding: 9px 0;
}

a.navbar-brand {
 margin: 5px 0 0;
 padding: 0;
 width: 210px;
}

.sicon {
 width: 80%;
}

li.ttu {
 display: none;
}

a.nav-link {
 color: #333;
 font-size: calc(14px + 0.15vw);
 font-weight: 500;
 padding: 0 5px 0 0;
 letter-spacing: 0.2px;
}

a.act {
 color: #003399;
 text-decoration: underline;
}

a.nav-link:hover {
 color: #003399;
 text-decoration: underline;
}

li.ttu {
 display: none;
}

button.bn1 {
 background-color: #003399;
 color: #fff;
 font-size: calc(14px + 0.15vw);
 padding: 7px 35px;
 font-weight: 500;
 border: none;
 border-radius: 4px;
}

button.bn1:hover {
 background-color: #052d79;
 color: #fff;
 font-size: calc(14px + 0.15vw);
 padding: 7px 35px;
 font-weight: 500;
 border: none;
}

/* Hero Section */
#hero {
 background-color: #003399;
 padding: 5.5% 20px;
}

.heroh1 {
 margin-top: 50px;
 font-size: calc(46px + 0.1vw);
 color: #fff;
 font-weight: 800;
 padding-right: 20px;
 letter-spacing: 0.5px;
 line-height: 1.15;
}

.herop {
 font-size: calc(17px + 0.1vw);
 color: #eee;
 font-weight: 500;
 padding-right: 13%;
 line-height: 1.45;
 letter-spacing: -0.2px;
}

button.b1 {
 background-color: #fff;
 color: #003399;
 font-size: calc(16px + 0.1vw);
 font-weight: 500;
 border-radius: 4px;
 border: 1px solid #fff;
 padding: 8px 30px;
 margin: 0 10px 0 0;
 letter-spacing: -0.5px;
}

button.b1:hover {
 background-color: #003399;
 color: #fff;
}

button.b2 {
 background-color: #003399;
 color: #fff;
 font-size: calc(16px + 0.1vw);
 font-weight: 500;
 border-radius: 4px;
 border: 1px solid #fff;
 padding: 8px 30px;
 margin: 0 10px 0 0;
 letter-spacing: -0.5px;
}

button.b2:hover {
 background-color: #fff;
 color: #003399;
 border: 1px solid #fff;
}

img.hero-img {
 width: 95%;
 margin: auto;

 /* Bounce Effect */

 animation: bounce 2s infinite;
}

@keyframes bounce {
 0% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(-5px);
 }

 100% {
  transform: translateY(0);
 }
}

/* Trusted Industry Leaders */
#trusted {
 padding: 3% 20px;
 background-color: #fff;
 text-align: center;
}

#trusted h1 {
 font-size: calc(25px + 0.1vw);
 font-weight: 700;
}

marquee {
 text-align: center;
 width: auto;
}

/* Our Values */
#our-values {
 padding: 0.5% 20px 3%;
}

div.vals {
 margin: 0 0 10px 10px;
}

div.val {
 width: 48%;
}

#our-values img {
 width: 93%;
 margin-left: auto;
 margin-right: auto;
}

#our-values h3 {
 font-size: calc(16px + 0.2vw);
 font-weight: 400;
 color: #003399;
 margin: 55px 0 20px;
 padding: 0;
}

#our-values h2 {
 font-size: calc(21px + 0.2vw);
 font-weight: 600;
 margin: 0 0 20px;
 padding: 0;
}

#our-values p {
 color: #454545;
 font-size: calc(15px + 0.1vw);
}

#our-values button {
 background-color: #003399;
 color: #fff;
 font-size: calc(15px + 0.1vw);
 font-weight: 500;
 border-radius: 4px;
 border: 1px solid #fff;
 padding: 8px 30px;
 margin: 0;
 letter-spacing: 0.2px;
}

/* Features */

#features {
 text-align: center;
 padding: 3% 20px 3%;
}

#features h2 {
 font-size: calc(25px + 0.1vw);
 font-weight: 600;
 margin: 0;
 padding-bottom: 20px;
}

div.fea {
 margin: 0;
 padding: 0 25px;
}

div.fd {
 background-color: #F6F6F6;
 border-radius: 5px;
 padding: 20px;
 margin: 15px;
 width: 46.5%;
}

div.fd h3 {
 font-size: calc(16px + 0.2vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 8px;
}

div.fd p {
 font-size: calc(13px + 0.15vw);
 line-height: 1.6;
 letter-spacing: 0.15px;
 padding: 0 20px;
 margin: 0;
}

#features img {
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}

/* Facts */
#stats {
 background-color: #080712;
 padding: 3%;
}

div.sta {
 background-color: #fff;
 border-radius: 5px;
 display: flex;
 padding: 20px;
 margin: 5px 8px;
 width: 23.3%;
}

div.sta img {
 width: 45px;
 height: 45px;
 margin: 3px 20px 0 0;
}

div.sta span {
 color: #012970;
 font-size: calc(18px + 0.15vw);
 font-weight: 600;
 margin: 0;
 letter-spacing: 0.2px;

}

div.sta p {
 font-size: calc(13px + 0.1vw);
 letter-spacing: -0.2px;
 margin: 0;
}

/* Solutions */

#solutions {
 padding: 5% 20px 3.5%;
 background-color: #F9F9FE;
}

#solutions h2 {
 text-align: center;
 font-size: calc(25px + 0.1vw);
 font-weight: 600;
 margin: 0;
 padding-bottom: 40px;
}

div.sol {
 background-color: #fff;
 padding: 25px 30px;
 border-radius: 16px;
 width: 47.6%;
 margin: 10px;
}

#solutions h4 {
 font-size: calc(18px + 0.1vw);
 font-weight: 600;
 margin: 0 0 7px;
}

#solutions p {
 font-size: calc(13px + 0.14vw);
 letter-spacing: 0.2px;
 line-height: 1.6;
 margin: 0;
}

/* Pricing */
#pricing {
 background-color: #080712;
 text-align: center;
 padding: 3% 20px 7%;
 color: #fff;
 letter-spacing: 0.2px;
 z-index: 0;
}

#pricing h5 {
 text-transform: uppercase;
 font-size: calc(13px + 0.1vw);
 font-weight: 600;
 margin: 0 0 20px;
}

#pricing h3 {
 text-transform: capitalize;
 font-size: calc(25px + 0.1vw);
 font-weight: 800;
 margin: 0 0 15px;
}

#pricing p {
 font-size: calc(13px + 0.15vw);
 margin: 0 0 15px;
}

div.pricingbtn {
 margin: 0 0 10px;
}

.pricingbtn .pr1 {
 background-color: #fff;
 color: #003399;
 border: none;
 border-radius: 4px 0 0 4px;
 padding: 8px 25px;
 font-size: calc(13px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 -4px 0 0;
}

.pricingbtn .pr1:hover {
 background-color: #eee;
 color: #003399;
}

.pricingbtn .pr2 {
 background-color: #003399;
 color: #fff;
 border: none;
 border-radius: 0 4px 4px 0;
 padding: 8px 30px;
 font-size: calc(13px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 0 -4px;
}

.pricingbtn .pr2:hover {
 background-color: #012970;
 color: #fff;
}

/* Price Table */
#prices {
 padding: 0 20px 5%;
 z-index: 1;
 background-color: #fff;
}

.pcont {
 background-color: #fff;
 box-shadow: 1px 4px 10px #00000031;
 padding: 50px 15px 50px 30px;
 margin: -65px 0 0;
 border-radius: 16px;
}

.pcont h4 {
 color: #003399;
 font-size: calc(12px + 0.2vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 10px;
 padding: 0;
}

.pcont h2 {
 color: #000;
 font-size: calc(30px + 0.2vw);
 font-weight: 900;
 letter-spacing: 0.2px;
 margin: 0 0 10px;
 padding: 0;
}

.month {
 color: #808080d8;
 font-size: calc(14px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 padding: 0;
 margin: 0 0 10px;
}

.pcont ul {
 padding: 0;
 margin: 0 0 25px;
 list-style: none;
}

.pcont svg {
 margin-right: 10px;
 color: #003399;
 font-size: calc(14px + 0.1vw);
}

.pcont li {
 padding: 0;
 margin: 0 0 8px;
 font-size: calc(13px + 0.15vw);
 letter-spacing: 0.2px;
}

.pcont .buynow {
 background-color: #003399;
 color: #fff;
 padding: 7px 22px;
 font-size: calc(11px + 0.15vw);
 font-weight: 300;
 border-radius: 4px;
 letter-spacing: 0.2px;
 border: none;
}

.pcont .buynow:hover {
 background-color: #012970;
 color: #fff;
}

.pcontb {
 background-color: #003399;
 box-shadow: 1px 4px 10px #00000031;
 padding: 50px 15px 50px 30px;
 margin: -65px 0 0;
 border-radius: 16px;
}

.pcontb:hover {
 transition: ease-in-out 0.4s;
 scale: 1.02;
}

.pcontb h4 {
 color: #fff;
 font-size: calc(12px + 0.2vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 10px;
 padding: 0;
}

.pcontb h2 {
 color: #fff;
 font-size: calc(30px + 0.2vw);
 font-weight: 900;
 letter-spacing: 0.2px;
 margin: 0 0 10px;
 padding: 0;
}

.monthb {
 color: #fff;
 font-size: calc(14px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 padding: 0;
 margin: 0 0 10px;
}

.pcontb ul {
 padding: 0;
 margin: 0 0 25px;
 list-style: none;
}

.pcontb svg {
 margin-right: 10px;
 color: #fff;
 font-size: calc(14px + 0.1vw);
}

.pcontb li {
 color: #fff;
 padding: 0;
 margin: 0 0 8px;
 font-size: calc(13px + 0.15vw);
 letter-spacing: 0.2px;
}

.pcontb .buynow {
 background-color: #fff;
 color: #003399;
 padding: 7px 22px;
 font-size: calc(11px + 0.15vw);
 font-weight: 300;
 border-radius: 4px;
 letter-spacing: 0.2px;
 border: none;
}

.pcontb .buynow:hover {
 background-color: #eee;
 color: #003399;
}

/* Testimonials */
#testimonials {
 padding: 6% 8.5% 4%;
 background-color: #F2F2F7;
}

#testimonials h3 {
 text-transform: uppercase;
 color: #003399;
 font-size: calc(15px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 13px;
 padding: 0;
 text-align: center;
}

#testimonials h2 {
 margin: 0 0 55px;
 padding: 0;
 font-size: calc(25px + 0.1vw);
 font-weight: 700;
 letter-spacing: 0.2px;
 text-align: center;
}

.testimg {
 width: 97%;
 z-index: 0;
 margin-left: auto;
 margin-right: auto;
 padding: 0;
}

.like {
 text-align: left;
 z-index: 1;
 margin-top: -40px;
 margin-left: -15px;
 width: 13%;
}

.tumb {
 width: 9%;
 margin-left: 85%;
 padding: 0;
}

div.testcont {
 padding: 5px 30px;
}

.quot {
 width: 8%;
 padding: 0;
 margin-bottom: 25px;
}

.testp {
 font-size: calc(16.5px + 0.1vw);
 padding-right: 50px;
 line-height: 1.5;
 letter-spacing: 0.2px;
 margin-bottom: 45px;
}

.ceo {
 color: #003399;
 font-size: calc(17px + 0.1vw);
 font-weight: 600;
 margin: 0;
 padding: 0;
 letter-spacing: 0.2px;
}

.compy {
 font-size: calc(15px + 0.1vw);
 color: #828282;
 font-weight: 400;
 letter-spacing: 0.2px;
 margin: 0;
}

.navbts {
 padding: 0;
 margin: 30px 0 0 79%;
}

.navbts button {
 padding: 3px;
 margin: 0;
 border: none;
}

.navbts button:hover {
 border: none;
}

.navbts svg.leff {
 color: #8480ae9a;
 font-size: 30px;
}

.navbts svg.rigg {
 color: #003399;
 font-size: 30px;
}


/* FAQs */
#faqs {
 padding: 3% 20px;
}

div.fqc {
 margin-top: 50px;
}

#faqs h3 {
 text-transform: uppercase;
 color: #003399;
 font-size: calc(15px + 0.15vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 10px;
 padding: 0;
}

#faqs h2 {
 margin: 0 0 35px;
 padding: 0;
 font-size: calc(27px + 0.1vw);
 font-weight: 700;
 letter-spacing: 0.2px;
}

#faqs h4 {
 font-size: calc(19px + 0.15vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 5px 0;
}

#faqs p {
 font-size: calc(17px + 0.1vw);
 letter-spacing: 0.2px;
 line-height: 1.5;
 margin-bottom: 25px;
}

#faqs span {
 text-transform: capitalize;
 text-decoration: underline;
 font-weight: 600;
}

.faq {
 width: 98%;
 margin-left: 20px;
 margin-right: auto;

 /* Bounce Effect */
 animation: bounce 2s infinite;
}

#faqs h5 {
 font-size: calc(18px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 20px 0;
}

/* Subscribe Now */
#subscribe {
 text-align: center;
 padding: 4.5% 20px;
 color: #fff;
 background-color: #131522;
}

#subscribe h3 {
 font-size: calc(15px + 0.15vw);
 text-transform: uppercase;
 margin: 0 0 8px;
 padding: 0;
}

#subscribe h2 {
 font-size: calc(27px + 0.1vw);
 font-weight: 800;
 letter-spacing: 0.2px;
 margin: 0 0 8px;
}

#subscribe p {
 font-size: calc(16px + 0.1vw);
 letter-spacing: 0.2px;
}

input.maile {
 width: 30%;
 padding: 6px 13px;
 border-radius: 4px;
 border: none;
 margin-right: 4px;
 font-size: calc(14px + 0.15vw);
 letter-spacing: 0px;
}

input.subme {
 background-color: #003399;
 color: #fff;
 padding: 6px 20px;
 border-radius: 5px;
 border: none;
 font-size: calc(14px + 0.15vw);
}

/* Footer Section */
#footer {
 background-color: #F9F9FE;
 padding: 4% 20px 3%;
 color: #241C15;
}

#footer a {
 text-decoration: none;
 color: #003399;
}

#footer img {
 width: 47%;
 margin: 0 0 30px;
 padding: 0;
}

#footer h2 {
 font-size: calc(16.5px + 0.1vw);
 letter-spacing: 0.3px;
 font-weight: 600;
 margin: 0 0 10px;
}

#footer h3 {
 font-size: calc(15.5px + 0.1vw);
 margin: 0 0 10px;
}

#footer h4 {
 color: #003399;
 font-size: calc(17px + 0.1vw);
 margin: 0 0 10px;
 letter-spacing: 0.2px;
 text-transform: capitalize;
}

#footer ul {
 margin: 0;
 padding: 0;
}

#footer li {
 list-style: none;
 text-transform: capitalize;
 margin: 0 0 6px;
 font-size: calc(14px + 0.1vw);
 letter-spacing: 0.2px;
}

#footer li:hover {
 color: #060A57;
}

#copyright {
 padding: 2% 20px;
 text-align: center;
 background-color: #F9F9FE;
}

#copyright a {
 text-decoration: none;
 color: #003399;
}

#copyright h2 {
 font-size: calc(14.5px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 text-transform: capitalize;
 margin: 0 0 8px;
}

#copyright p {
 font-size: calc(12px + 0.1vw);
 letter-spacing: 0.2px;
}

div.socialss {
 margin-left: 45%;
 padding: 0;
}

#copyright svg {
 color: #506B9C;
 margin: 0 6px;
}

/* Responsiveness */

/* Tabelet View */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
 div.btnarea {
  display: none;
 }

 li.ttu {
  display: contents;
 }

 /* Nav Bar */
 nav.styt {
  padding: 5px 0;
 }

 a.navbar-brand {
  margin: 5px 0 0;
 }

 .sicon {
  width: 70%;
 }

 span.navbar-toggler-icon {
  background-image: url('/assets/img/menu.png');
  background-size: cover;
 }

 a.nav-link {
  color: #333;
  font-size: calc(15px + 0.15vw);
  font-weight: 500;
  padding: 8px 0;
  border-bottom: 1px solid #00339934;
 }

 a.act {
  color: #003399;
  text-decoration: underline;
 }

 a.nav-link:hover {
  color: #003399;
  text-decoration: underline;
 }

 /* Hero Section */
 #hero {
  padding: 6% 20px 3.5%;
 }

 .heroh1 {
  margin-top: 10px;
  font-size: calc(29px + 0.1vw);
  font-weight: 800;
  padding: 0;
  letter-spacing: 0.2px;
  line-height: 1.2;
 }

 .herop {
  font-size: calc(15px + 0.1vw);
  font-weight: 500;
  padding: 0;
  line-height: 1.45;
  letter-spacing: -0.08px;
 }

 button.b1 {
  font-size: calc(15px + 0.1vw);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 6px 25px;
  margin: 0 3px 0 0;
  letter-spacing: -0.2px;
 }

 button.b2 {
  font-size: calc(15px + 0.1vw);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 6px 25px;
  margin: 0 7px 0 0;
  letter-spacing: -0.2px;
 }

 img.hero-img {
  width: 99%;
  margin: auto;

  /* Bounce Effect */

  animation: bounce 2s infinite;
 }

 /* Trusted Industry Leaders */
 #trusted {
  padding: 3% 20px 1%;
 }

 #trusted h1 {
  text-transform: capitalize;
  font-size: calc(18px + 0.1vw);
  font-weight: 600;
 }

 marquee {
  width: 100%;
 }

 marquee img {
  width: 100px;
 }

 /* Our Values */
 div.vals {
  margin: 0;
 }

 div.val {
  width: 49%;
 }

 #our-values img {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
 }

 #our-values h3 {
  font-size: calc(15px + 0.1vw);
  margin: 0 0 10px;
  padding: 0;
 }

 #our-values h2 {
  font-size: calc(18px + 0.1vw);
  font-weight: 600;
  margin: 0 0 10px;
  padding: 0;
 }

 #our-values p {
  color: #454545;
  font-size: calc(14px + 0.1vw);
  margin: 0 0 15px;
 }

 #our-values button {
  background-color: #003399;
  color: #fff;
  font-size: calc(15px + 0.1vw);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 6px 25px;
  margin: 0;
  letter-spacing: 0.2px;
 }

 /* Features */

 #features {
  text-align: center;
  padding: 1% 20px 3%;
 }

 #features h2 {
  font-size: calc(18px + 0.1vw);
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
  text-transform: capitalize;
 }

 div.fea {
  margin: 0;
  padding: 0;
 }

 div.fd {
  background-color: #F6F6F6;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  width: 47%;
 }

 div.fd h3 {
  font-size: calc(16px + 0.2vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 0 0 8px;
 }

 div.fd p {
  font-size: calc(13px + 0.15vw);
  line-height: 1.6;
  letter-spacing: 0.15px;
  padding: 0 20px;
  margin: 0;
 }

 #features img {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
 }

 /* Facts */
 #stats {
  background-color: #080712;
  padding: 3%;
 }

 div.sta {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  margin: 6px;
  width: 23.2%;
 }

 div.sta img {
  width: 32px;
  height: 32px;
  margin: 5px 12px 0 0;
 }

 div.sta span {
  color: #012970;
  font-size: calc(18px + 0.1vw);
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.2px;

 }

 div.sta p {
  font-size: calc(12px + 0.1vw);
  letter-spacing: -0.2px;
  margin: 0;
 }

 /* Solutions */

 #solutions {
  padding: 5% 20px 3.5%;
 }

 #solutions h2 {
  text-align: center;
  font-size: calc(18px + 0.1vw);
  font-weight: 600;
  margin: 0;
  padding-bottom: 25px;
  text-transform: capitalize;
 }

 div.sol {
  background-color: #fff;
  padding: 25px;
  border-radius: 16px;
  width: 47.6%;
  margin: 8px 7px;
 }

 #solutions h4 {
  font-size: calc(18px + 0.1vw);
  font-weight: 600;
  margin: 0 0 7px;
 }

 #solutions p {
  font-size: calc(13px + 0.14vw);
  letter-spacing: 0.2px;
  line-height: 1.6;
  margin: 0;
 }

 /* Pricing */
 #pricing {
  padding: 3% 20px 5%;
  color: #fff;
  letter-spacing: 0.2px;
  z-index: 0;
 }

 #pricing h5 {
  text-transform: uppercase;
  font-size: calc(12px + 0.1vw);
  font-weight: 500;
  margin: 5px 0;
  padding: 0;
 }

 #pricing h3 {
  text-transform: capitalize;
  font-size: calc(20px + 0.1vw);
  font-weight: 600;
  margin: 0 0 10px;
  padding: 0;
 }

 #pricing p {
  font-size: calc(13px + 0.15vw);
  margin: 0 0 15px;
 }

 div.pricingbtn {
  margin: 0 0 15px;
 }

 .pricingbtn .pr1 {
  border-radius: 4px 0 0 4px;
  padding: 6px 20px;
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 0 -3px 0 0;
 }

 .pricingbtn .pr2 {
  border-radius: 0 4px 4px 0;
  padding: 6px 20px;
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 0 0 0 -4px;
 }

 /* Price Table */
 #prices {
  padding: 0 20px 6.5%;
  z-index: 1;
 }

 div.pct {
  padding: 0 5.5px;
 }

 .pcont {
  padding: 30px 16px;
  margin: -30px 0 0;
  border-radius: 16px;
 }

 .pcont h4 {
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 0 0 6px;
  padding: 0;
 }

 .pcont h2 {
  font-size: calc(24px + 0.1vw);
  font-weight: 700;
  letter-spacing: 0.2px;
  margin: 0 0 6px;
  padding: 0;
 }

 .month {
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 0 0 6px;
 }

 .pcont ul {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
 }

 .pcont svg {
  margin-right: 2px;
  color: #003399;
  font-size: 14px;
 }

 .pcont li {
  padding: 0;
  margin: 0 0 7px;
  font-size: calc(13px + 0.1vw);
  letter-spacing: 0.2px;
 }

 .pcont .buynow {
  padding: 6px 21px;
  font-size: calc(11px + 0.1vw);
  font-weight: 300;
  border-radius: 4px;
  letter-spacing: 0.2px;
  border: none;
 }

 .pcontb {
  padding: 30px 16px;
  margin: -30px 0 0;
  border-radius: 16px;
 }

 .pcontb h4 {
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 0 0 6px;
  padding: 0;
 }

 .pcontb h2 {
  font-size: calc(24px + 0.1vw);
  font-weight: 700;
  letter-spacing: 0.2px;
  margin: 0 0 6px;
  padding: 0;
 }

 .monthb {
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 0 0 6px;
 }

 .pcontb ul {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
 }

 .pcontb svg {
  margin-right: 2px;
  color: #fff;
  font-size: 14px;
 }

 .pcontb li {
  padding: 0;
  margin: 0 0 7px;
  font-size: calc(13px + 0.1vw);
  letter-spacing: 0.2px;
 }

 .pcontb .buynow {
  padding: 6px 21px;
  font-size: calc(11px + 0.1vw);
  font-weight: 300;
  border-radius: 4px;
  letter-spacing: 0.2px;
  border: none;
 }

 /* Testimonials */
 #testimonials {
  padding: 5% 40px;
 }

 #testimonials h3 {
  text-transform: uppercase;
  font-size: calc(12px + 0.1vw);
  font-weight: 500;
  margin: 5px 0;
  padding: 0;
  text-align: center;
 }

 #testimonials h2 {
  text-transform: capitalize;
  font-size: calc(20px + 0.1vw);
  font-weight: 600;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
 }

 .testimg {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
 }

 .like {
  margin-top: -45px;
  margin-left: -15px;
  width: 15%;
 }

 .tumb {
  width: 11%;
  margin-left: 90%;
  padding: 0;
 }

 div.testcont {
  padding: 0 0 0 15px;
 }

 .quot {
  width: 9%;
  padding: 0;
  margin-bottom: 10px;
 }

 .testp {
  font-size: calc(13.5px + 0.2vw);
  margin: 0 0 10px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  padding: 0;
 }

 .ceo {
  font-size: calc(15px + 0.1vw);
 }

 .compy {
  font-size: calc(14px + 0.1vw);
  color: #828282;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0;
 }

 .navbts {
  padding: 0;
  margin: 10px 0 0 78%;
 }

 .navbts button {
  padding: 2px;
  margin: 0;
  border: none;
 }

 .navbts svg.leff {
  color: #8480ae9a;
  font-size: 25px;
 }

 .navbts svg.rigg {
  color: #003399;
  font-size: 25px;
 }

 /* FAQs */
 #faqs {
  padding: 4.5% 20px;
 }

 div.fqc {
  margin: 0;
 }

 #faqs h3 {
  text-transform: uppercase;
  font-size: calc(12px + 0.1vw);
  font-weight: 600;
  margin: 0 0 10px;
  padding: 0;
 }

 #faqs h2 {
  margin: 0 0 20px;
  padding: 0;
  font-size: calc(20px + 0.1vw);
  font-weight: 700;
  letter-spacing: 0.2px;
 }

 #faqs h4 {
  font-size: calc(17px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 5px 0;
 }

 #faqs p {
  font-size: calc(13.5px + 0.2vw);
  margin: 0 0 10px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  padding: 0;
 }

 .faq {
  width: 99%;
  margin-left: 10px;
  margin-right: auto;

  /* Bounce Effect */
  animation: bounce 2s infinite;
 }

 #faqs h5 {
  font-size: calc(16px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 15px 0;
 }

 /* Subscribe Now */
 #subscribe {
  text-align: center;
  padding: 4% 20px;
  color: #fff;
  background-color: #131522;
 }

 #subscribe h3 {
  font-size: calc(12px + 0.1vw);
  text-transform: uppercase;
  margin: 0 0 5px;
  padding: 0;
 }

 #subscribe h2 {
  font-size: calc(20px + 0.1vw);
  font-weight: 800;
  letter-spacing: 0.2px;
  margin: 0 0 5px;
 }

 #subscribe p {
  font-size: calc(13px + 0.15vw);
  letter-spacing: 0.2px;
  margin: 0 0 15px;
 }

 input.maile {
  width: 35%;
  padding: 5px 12px;
  border-radius: 4px;
  border: none;
  margin-right: 4px;
  font-size: calc(13px + 0.15vw);
  letter-spacing: 0.2px;
 }

 input.subme {
  background-color: #003399;
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  font-size: calc(13px + 0.15vw);
 }

 /* Footer Section */
 #footer {
  padding: 4% 20px 1%;
 }

 #footer a {
  text-decoration: none;
  color: #003399;
 }

 #footer img {
  width: 46%;
  margin: 0 0 15px;
  padding: 0;
 }

 #footer h2 {
  font-size: calc(15.5px + 0.1vw);
  letter-spacing: 0.3px;
  font-weight: 600;
  margin: 0 0 10px;
 }

 #footer h3 {
  font-size: calc(14.5px + 0.1vw);
  margin: 0 0 10px;
 }

 #footer h4 {
  color: #003399;
  font-size: calc(15.5px + 0.1vw);
  margin: 0 0 10px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
 }

 #footer li {
  list-style: none;
  text-transform: capitalize;
  margin: 0 0 6px;
  font-size: calc(14px + 0.1vw);
  letter-spacing: 0.2px;
 }

 #footer li:hover {
  color: #060A57;
 }

 #copyright {
  padding: 2% 20px;
  text-align: center;
 }

 #copyright a {
  text-decoration: none;
 }

 #copyright h2 {
  font-size: calc(13.5px + 0.1vw);
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 0 0 8px;
 }

 #copyright p {
  font-size: calc(12px + 0.1vw);
  letter-spacing: 0.2px;
 }

 div.socialss {
  margin-left: 30%;
  padding: 0;
 }

 #copyright svg {
  color: #506B9C;
  margin: 0 3px;
 }

}

/* Mobile View */

@media only screen and (max-width: 767px) and (min-width: 320px) {

 div.btnarea {
  display: none;
 }

 li.ttu {
  display: contents;
 }
}