@import url(https://db.onlinewebfonts.com/c/0435447fd9d43de93de189e00f2f3dcf?family=Cerebri+Sans+Pro);

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Cerebri Sans Pro';
}

a {
 text-decoration: none;
}

/* Nav Bar */
nav.styt {
 padding: 9px 0;
}

a.navbar-brand {
 margin: 5px 0 0;
 padding: 0;
 width: 210px;
}

.sicon {
 width: 85%;
}

a.nav-link {
 color: #333;
 font-size: calc(14.5px + 0.1vw);
 font-weight: 600;
 padding: 0 5px 0 0;
 letter-spacing: 0.3px;
}

a.nav-link:hover {
 color: #003399;
 text-decoration: underline;
}

li.ttu {
 display: none;
}

button.bn1 {
 background-color: #003399;
 color: #fff;
 font-size: calc(14.5px + 0.1vw);
 padding: 7px 35px;
 font-weight: 600;
 border: none;
 border-radius: 4px;
}

button.bn1:hover {
 background-color: #052d79;
 color: #fff;
 font-size: calc(14.5px + 0.1vw);
 padding: 7px 35px;
 font-weight: 600;
 border: none;
}

/* Hero Section */
#hero {
 background-color: #003399;
 padding: 5% 20px 4%;
}

.heroh1 {
 margin-top: 50px;
 font-size: calc(47px + 0.1vw);
 color: #fff;
 font-weight: 900;
 padding-right: 20px;
 letter-spacing: 0.5px;
 line-height: 1.25;
}

.herop {
 font-size: calc(17px + 0.1vw);
 color: #eee;
 font-weight: 500;
 padding-right: 13%;
 line-height: 1.45;
 letter-spacing: -0.1px;
}

button.b1 {
 background-color: #fff;
 color: #003399;
 font-size: calc(16px + 0.1vw);
 font-weight: 500;
 border-radius: 4px;
 border: 1px solid #fff;
 padding: 8px 30px;
 margin: 0 10px 0 0;
 letter-spacing: -0.5px;
}

button.b1:hover {
 background-color: #003399;
 color: #fff;
}

button.b2 {
 background-color: #003399;
 color: #fff;
 font-size: calc(16px + 0.1vw);
 font-weight: 500;
 border-radius: 4px;
 border: 1px solid #fff;
 padding: 8px 30px;
 margin: 0 10px 0 0;
 letter-spacing: -0.5px;
}

button.b2:hover {
 background-color: #fff;
 color: #003399;
 border: 1px solid #fff;
}

img.hero-img {
 width: 95%;
 margin: auto;

 /* Bounce Effect */

 animation: bounce 2s infinite;
}

@keyframes bounce {
 0% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(-5px);
 }

 100% {
  transform: translateY(0);
 }
}

/* Trusted Industry Leaders */
#trusted {
 padding: 3% 20px;
 background-color: #fff;
 text-align: center;
}

#trusted h1 {
 font-size: calc(25px + 0.1vw);
 font-weight: 700;
}

marquee {
 text-align: center;
 width: auto;
}

/* Our Values */
#our-values {
 padding: 0.5% 20px 3%;
}

div.vals {
 margin: 0 0 10px 10px;
}

div.val {
 width: 48%;
}

#our-values img {
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}

#our-values h3 {
 font-size: calc(16px + 0.2vw);
 font-weight: 400;
 color: #003399;
 margin: 50px 0 20px;
 padding: 0;
}

#our-values h2 {
 font-size: calc(21px + 0.2vw);
 font-weight: 600;
 margin: 0 0 15px;
 padding: 0;
}

#our-values p {
 color: #454545;
 font-size: calc(15px + 0.1vw);
}

#our-values button {
 background-color: #003399;
 color: #fff;
 font-size: calc(15px + 0.1vw);
 font-weight: 500;
 border-radius: 4px;
 border: 1px solid #fff;
 padding: 8px 30px;
 margin: 0;
 letter-spacing: 0.1px;
}

/* Features */

#features {
 text-align: center;
 padding: 3% 20px 3%;
}

#features h2 {
 font-size: calc(25px + 0.1vw);
 font-weight: 600;
 margin: 0;
 padding-bottom: 20px;
}

div.fea {
 margin: 0;
 padding: 0 40px;
}

div.fd {
 background-color: #F6F6F6;
 border-radius: 5px;
 padding: 20px;
 margin: 15px;
 width: 46.5%;
}

div.fd h3 {
 font-size: calc(16px + 0.2vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 8px;
}

div.fd p {
 font-size: calc(13px + 0.15vw);
 line-height: 1.6;
 letter-spacing: 0.15px;
 padding: 0 20px;
 margin: 0;
}

#features img {
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}

/* Facts */

#stats {
 background-color: #080712;
 padding: 3%;
}

div.sta {
 background-color: #fff;
 border-radius: 5px;
 display: flex;
 padding: 20px;
 margin: 5px 8px;
 width: 23.3%;
}

div.sta img {
 width: 45px;
 height: 45px;
 margin: 3px 20px 0 0;
}

div.sta span {
 color: #012970;
 font-size: calc(18px + 0.15vw);
 font-weight: 600;
 margin: 0;
 letter-spacing: 0.4px;

}

div.sta p {
 font-size: calc(13px + 0.1vw);
 letter-spacing: -0.4px;
 margin: 0;
}

/* Solutions */

#solutions {
 padding: 5% 20px 3.5%;
 background-color: #F9F9FE;
}

#solutions h2 {
 text-align: center;
 font-size: calc(25px + 0.1vw);
 font-weight: 600;
 margin: 0;
 padding-bottom: 40px;
}

div.sol {
 background-color: #fff;
 padding: 25px 30px;
 border-radius: 16px;
 width: 47.6%;
 margin: 10px;
}

#solutions h4 {
 font-size: calc(18px + 0.1vw);
 font-weight: 600;
 margin: 0 0 7px;
}

#solutions p {
 font-size: calc(13px + 0.14vw);
 letter-spacing: 0.2px;
 line-height: 1.6;
 margin: 0;
}

/* Pricing */
#pricing {
 background-color: #080712;
 text-align: center;
 padding: 3% 20px 7%;
 color: #fff;
 letter-spacing: 0.2px;
 z-index: 0;
}

#pricing h5 {
 text-transform: uppercase;
 font-size: calc(13px + 0.1vw);
 font-weight: 600;
 margin: 0 0 20px;
}

#pricing h3 {
 text-transform: capitalize;
 font-size: calc(25px + 0.1vw);
 font-weight: 800;
 margin: 0 0 15px;
}

#pricing p {
 font-size: calc(13px + 0.15vw);
 margin: 0 0 15px;
}

div.pricingbtn {
 margin: 0 0 10px;
}

.pricingbtn .pr1 {
 background-color: #fff;
 color: #003399;
 border: none;
 border-radius: 4px 0 0 4px;
 padding: 8px 25px;
 font-size: calc(13px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.4px;
 margin: 0 -4px 0 0;
}

.pricingbtn .pr1:hover {
 background-color: #eee;
 color: #003399;
}

.pricingbtn .pr2 {
 background-color: #003399;
 color: #fff;
 border: none;
 border-radius: 0 4px 4px 0;
 padding: 8px 30px;
 font-size: calc(13px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.4px;
 margin: 0 0 0 -4px;
}

.pricingbtn .pr2:hover {
 background-color: #012970;
 color: #fff;
}

/* Price Table */
#prices {
 padding: 0 20px 5%;
 z-index: 1;
 background-color: #fff;
}

.pcont {
 background-color: #fff;
 box-shadow: 1px 4px 10px #00000031;
 padding: 50px 15px 50px 30px;
 margin: -65px 0 0;
 border-radius: 16px;
}

.pcont h4 {
 color: #003399;
 font-size: calc(12px + 0.2vw);
 font-weight: 600;
 letter-spacing: 0.3px;
 margin: 0 0 10px;
 padding: 0;
}

.pcont h2 {
 color: #000;
 font-size: calc(30px + 0.2vw);
 font-weight: 900;
 letter-spacing: 0.1px;
 margin: 0 0 10px;
 padding: 0;
}

.month {
 color: #808080d8;
 font-size: calc(14px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.1px;
 padding: 0;
 margin: 0 0 10px;
}

.pcont ul {
 padding: 0;
 margin: 0 0 25px;
 list-style: none;
}

.pcont svg {
 margin-right: 10px;
 color: #003399;
 font-size: calc(14px + 0.1vw);
}

.pcont li {
 padding: 0;
 margin: 0 0 8px;
 font-size: calc(13px + 0.15vw);
 letter-spacing: 0.2px;
}

.pcont .buynow {
 background-color: #003399;
 color: #fff;
 padding: 7px 22px;
 font-size: calc(11px + 0.15vw);
 font-weight: 300;
 border-radius: 4px;
 letter-spacing: 0.2px;
 border: none;
}

.pcont .buynow:hover {
 background-color: #012970;
 color: #fff;
}

.pcontb {
 background-color: #003399;
 box-shadow: 1px 4px 10px #00000031;
 padding: 50px 15px 50px 30px;
 margin: -65px 0 0;
 border-radius: 16px;
}

.pcontb:hover {
 transition: ease-in-out 0.4s;
 scale: 1.02;
}

.pcontb h4 {
 color: #fff;
 font-size: calc(12px + 0.2vw);
 font-weight: 600;
 letter-spacing: 0.3px;
 margin: 0 0 10px;
 padding: 0;
}

.pcontb h2 {
 color: #fff;
 font-size: calc(30px + 0.2vw);
 font-weight: 900;
 letter-spacing: 0.1px;
 margin: 0 0 10px;
 padding: 0;
}

.monthb {
 color: #fff;
 font-size: calc(14px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.1px;
 padding: 0;
 margin: 0 0 10px;
}

.pcontb ul {
 padding: 0;
 margin: 0 0 25px;
 list-style: none;
}

.pcontb svg {
 margin-right: 10px;
 color: #fff;
 font-size: calc(14px + 0.1vw);
}

.pcontb li {
 color: #fff;
 padding: 0;
 margin: 0 0 8px;
 font-size: calc(13px + 0.15vw);
 letter-spacing: 0.2px;
}

.pcontb .buynow {
 background-color: #fff;
 color: #003399;
 padding: 7px 22px;
 font-size: calc(11px + 0.15vw);
 font-weight: 300;
 border-radius: 4px;
 letter-spacing: 0.2px;
 border: none;
}

.pcontb .buynow:hover {
 background-color: #eee;
 color: #003399;
}

/* Testimonials */
#testimonials {
 padding: 6% 8.5% 4%;
 background-color: #F2F2F7;
}

#testimonials h3 {
 text-transform: uppercase;
 color: #003399;
 font-size: calc(15px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.2px;
 margin: 0 0 13px;
 padding: 0;
 text-align: center;
}

#testimonials h2 {
 margin: 0 0 55px;
 padding: 0;
 font-size: calc(25px + 0.1vw);
 font-weight: 700;
 letter-spacing: 0.3px;
 text-align: center;
}

.testimg {
 width: 97%;
 z-index: 0;
 margin-left: auto;
 margin-right: auto;
 padding: 0;
}

.like {
 text-align: left;
 z-index: 1;
 margin-top: -40px;
 margin-left: -15px;
 width: 13%;
}

.tumb {
 width: 9%;
 margin-left: 85%;
 padding: 0;
}

div.testcont {
 padding: 5px 30px;
}

.quot {
 width: 8%;
 padding: 0;
 margin-bottom: 25px;
}

.testp {
 font-size: calc(16.5px + 0.1vw);
 padding-right: 50px;
 line-height: 1.65;
 letter-spacing: 0.3px;
 margin-bottom: 45px;
}

.ceo {
 color: #003399;
 font-size: calc(17px + 0.1vw);
 font-weight: 600;
 margin: 0;
 padding: 0;
 letter-spacing: 0.3px;
}

.compy {
 font-size: calc(15px + 0.1vw);
 color: #828282;
 font-weight: 400;
 letter-spacing: 0.4px;
 margin: 0;
}

.navbts {
 padding: 0;
 margin: 30px 0 0 79%;
}

.navbts button {
 padding: 3px;
 margin: 0;
 border: none;
}

.navbts button:hover {
 border: none;
}

.navbts svg.leff {
 color: #8480ae9a;
 font-size: 30px;
}

.navbts svg.rigg {
 color: #003399;
 font-size: 30px;
}


/* FAQs */
#faqs {
 padding: 4% 20px;
}

div.fqc {
 margin-top: 60px;
}

#faqs h3 {
 text-transform: uppercase;
 color: #003399;
 font-size: calc(15px + 0.15vw);
 font-weight: 600;
 letter-spacing: 0.4px;
 margin: 0 0 10px;
 padding: 0;
}

#faqs h2 {
 margin: 0 0 35px;
 padding: 0;
 font-size: calc(27px + 0.1vw);
 font-weight: 700;
 letter-spacing: 0.3px;
}

#faqs h4 {
 font-size: calc(19px + 0.15vw);
 font-weight: 600;
 letter-spacing: 0.4px;
 margin: 5px 0;
}

#faqs p {
 font-size: calc(17px + 0.1vw);
 letter-spacing: 0.4px;
 line-height: 1.65;
 margin-bottom: 25px;
}

#faqs span{
 text-transform: capitalize;
 text-decoration: underline;
 font-weight: 600;
}

.faq {
 width: 98%;
 margin-left: 20px;
 margin-right: auto;

 /* Bounce Effect */
 animation: bounce 2s infinite;
}

#faqs h5{
 font-size: calc(18px + 0.1vw);
 font-weight: 600;
 letter-spacing: 0.4px;
 margin: 30px 0;
}































/* Responsiveness */

/* Tabelet View */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
 div.btnarea {
  display: none;
 }

 li.ttu {
  display: contents;
 }
}

/* Mobile View */

@media only screen and (max-width: 767px) and (min-width: 320px) {

 div.btnarea {
  display: none;
 }

 li.ttu {
  display: contents;
 }
}